

body {
    background: #222222;
}

.logo {
    color: #ffffff;
}

.logo path {
    fill: #ff3333;
}

.login-block {
    background: #3f3f3f;
    border-top: 5px solid #ff3333;
}

.colorgrab {
    color:#ff3333;
}

.login-block h1 {
    color: #fff;
}

.login-block input {
    border: 1px solid #8A8A8A;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    background: #ff656c;
    border: 1px solid #e15960;
    color: #fff;
}

.login-block button:hover {
    background: #ff7b81;
}

iframe {
    background-color: #000;
}

.modal-title {
    color: #f1f3f2;
}

.cd-tabs nav {
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

.cd-tabs-navigation a {
    color: #818181;
}

.cd-tabs-navigation a:hover {
    color: #f1f3f2; /* Hover text colour */
    background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected {
    background-color: #3f3f3f !important; /* Selected tab colour */
    color: #f1f3f2; /* Selected text colour */
}

@media only screen and (min-width: 0px) {
    .cd-tabs-navigation {
        background-color: #222222; /* Main nav colour */
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }


    .cd-tabs-navigation a.selected {
        box-shadow: inset 0 5px 0 #36363b; /* Selected tab marker colour */
    }

}

.cd-tabs-content {
    background: #36363b; /* Content background colour */
}

.cd-tabs-content li p {
    color: #8493bf;
}

.main-nav, .drop-nav {
    background: #222222;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}


.main-nav > li:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}


.main-nav a {
    color: #818181;
}

.dd a:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}

.navbtn a:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}
.or-active {
    background-color: rgba(233, 230, 202, 0.3);
}

.or-active > span {
    color: #ffffff; /* Hover text colour */
}

.drop-nav {
    -webkit-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
}

.drop-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.drop-nav > li:hover, .drop-nav > li:hover a {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);

}

input[type='text'], select {
    color: #000;
}

input[type="text"][disabled] {
    color: #696969;
}

input[disabled]:hover {
    background-color: #8b0000;
    color: #fff;
}

input[type='button'] {
    color: #FFF;
    background: #8b0000;
}

input[type='button']:hover {
    background: #003147;
}

.modal-body {
    background: #222222;
}

.modal-header, .modal-footer {
 background: #3f3f3f;
}
.splashHeader {
	border-right: 1px solid rgba(71, 41, 41, 0.83);
}

.splashNavBtn {
	background: #5c5d5c;
	border-color: rgba(71, 41, 41, 0.83);
}   

.splashNavBtn:hover {
	background: #ff3333;
}
.well {
	background-color: #3f3f3f;
	border: 1px solid rgba(71, 41, 41, 0.83);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}

.well:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#splashBg {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

.applicationContainer {
    background: #f5f6f7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px 1px #000;
    box-shadow: 5px 5px 5px 1px #000;
    color: #000;
}

#updateContainer {
    background-color: #222222;
    color: #f1f3f2;
}

.close {
  color: #f1f3f2;
}

.close:hover,
.close:focus {
  color: #fff;
}

form input {
    background-color: #fff;
    color: #000;
}