

body {
    background: #222222;
}

.logo {
    color: #ffffff;
}

.logo path {
	fill: #e15960;
}

.login-block {
    background: #3f3f3f;
    border-top: 5px solid #e15960;
}

.colorgrab {
	color:#ff656c;
}

.login-block h1 {
    color: #fff;
}

.login-block input {
    border: 1px solid #8A8A8A;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    background: #ff656c;
    border: 1px solid #e15960;
    color: #fff;
}

.login-block button:hover {
    background: #ff7b81;
}



iframe {
    background-color: #000;
}

.modal-title {
    color: #f1f3f2;
}

.cd-tabs nav {
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

.cd-tabs-navigation a, #reload, #settings, #override {
    color: #818181;

}

.cd-tabs-navigation a:hover, #reload:hover, #settings:hover {
    color: #f1f3f2; /* Hover text colour */
    background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected:not(#reload) {
    background-color: #3f3f3f !important; /* Selected tab colour */
    color: #f1f3f2; /* Selected text colour */
}

@media only screen and (min-width: 0px) {
    .cd-tabs-navigation {
        background-color: #222222; /* Main nav colour */
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }


    .cd-tabs-navigation a.selected:not(#reload) {
        box-shadow: inset 0 5px 0 #36363b; /* Selected tab marker colour */
    }

}

.cd-tabs-content {
    background: #36363b; /* Content background colour */
}

.cd-tabs-content li p {
    color: #8493bf;
}

.main-nav, .drop-nav {
    background: #222222;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

.main-nav > li:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);

}

.main-nav a {
    color: #818181;
}

.dd a:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}

.dd-active {
    /* Used by main.js to set color of parent element of hovered item */
    color: #f1f3f2;
}

.or-active {
    background-color: rgba(233, 230, 202, 0.3);
}

.or-active > span {
    color: #ffffff; /* Hover text colour */

}

.drop-nav {
    -webkit-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
}

.drop-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.drop-nav > li:hover, .drop-nav > li:hover a {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
    -webkit-box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
}

input[type='text'], select {
    color: #000;
}

input[type="text"][disabled] {
    color: #696969;
}

input[disabled]:hover {
    background-color: #8b0000;
    color: #fff;
}

input[type='button'] {
    color: #FFF;
    background: #8b0000;
}

input[type='button']:hover {
    background: #003147;
}

.modal-body {
    background: #222222;
}

.modal-header, .modal-footer {
    background: #3f3f3f;
}

.applicationContainer {
    background: #f5f6f7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px 1px #000;
    box-shadow: 5px 5px 5px 1px #000;
    color: #000;
}

#updateContainer {
    background-color: #222222;
    color: #f1f3f2;
}

.close {
  color: #f1f3f2;
}

.close:hover,
.close:focus {
  color: #fff;
}

form input {
    background-color: #fff;
    color: #000;
}