body {
    background-size: cover;
    font-family: "PT Sans", sans-serif;
}

.logo {
    height: 207px;
	margin-left:auto;
	margin-right:auto;
    text-align: center;
    font-size: 24px;
    display: none;
}

svg {
	display: block;
	margin: auto;
}

#muximux-logo {
	width: 341px;
	height: 207px;
}

@media only screen and (min-width: 0px) {
.login-block {
    width: 90%;
    max-width: 90%;

}
}

.login0, .login1, .login2, .login3 {
    display: none;
}
.wrapper {
	transition: top 0.25s linear;
	top: -500px;
	position: absolute;
	margin: 0 auto;
    left: 0;
    right: 0;
}
.login-block {
    width: 90%;
    max-width: 320px;
    transition: top 1s linear;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.login-block h1 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}
.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 0 50px 0 50px;
    outline: none;
}
input {
    text-align: center;
}
.login-block input#username {
    position: relative;
    background: #fff url('../images/ui-icon-username.png') 25px top no-repeat;
    background-size: 16px 80px;
}
.login-block input#username:focus {
    background: #fff url('../images/ui-icon-username.png') 25px bottom no-repeat;
    background-size: 16px 80px;
}
.login-block input#password {
    background: #fff url('../images/ui-icon-password.png') 20px top no-repeat;
    background-size: 16px 80px;
}
.login-block input#password:focus {
    background: #fff url('../images/ui-icon-password.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block button {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
