/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after, *::before {
    content: '';
}

body {
    font-size: 0px;
    font-family: "PT Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

b {
    font-weight: 700;
}

p {
    margin: 0 0 10px;
}

iframe {
    width: 100%;
    height: 926px;
    background-color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter': blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');

    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

}

/* --------------------------------

Main components

-------------------------------- */
.constrain {
    overflow: hidden;
}

.modal-title {
    font-size: 18px;
    color: #f1f3f2;
}

.cd-tabs nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    z-index: 1000;
}

@media only screen and (min-width: 0px) {
    .cd-tabs nav {
        overflow: auto;
        overflow-y: hidden;
        margin: 0;
        position: relative;
        float: none;
        background: transparent;
        box-shadow: none;
    }
}

.cd-tabs-navigation {
    width: 360px;
}

.cd-tabs-navigation:after {
    content: "";
    display: table;
    clear: both;
}

.cd-tabs-navigation li {
    float: left;
}

.cd-tabs-navigation li:last-child {
    float: right;
    right: 0px;
}

.cd-tabs-navigation a, #reload {
    position: relative;
    display: block;
    height: 160px;
    width: 30px;
    text-align: center;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #747b8b;
    padding-top: 32px;
}

#reload, .cd-tabs-navigation li {
    cursor: pointer;
}

.no-touch .cd-tabs-navigation a:hover, #reload:hover {
    color: #f1f3f2; /* Hover text colour */
    background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected:not(#reload) {
    background-color: #41434f !important; /* Selected tab colour */
    color: #f1f3f2; /* Selected text colour */
}

@media only screen and (min-width: 0px) {
    .cd-tabs-navigation {
        /* tabbed on top of devices */
        width: 100%;
        background-color: #343843; /* Main nav colour */
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }

    .cd-tabs-navigation a, #reload {
        height: 40px;
        line-height: 40px;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        padding: 0 2em 0 2em;
    }

    .cd-tabs-navigation a.selected:not(#reload) {
        box-shadow: inset 0 5px 0 #31ac63; /* Selected tab marker colour */
    }

    .cd-tabs-navigation a::before {
        top: 50%;
        margin-top: -10px;
        margin-left: 0;
        left: 0px;
    }
}

.cd-tabs-content {
    background: #36363b; /* Content background colour */
    z-index: 1;
}

.cd-tabs-content li {
    display: none;
    padding: 0;
}

.cd-tabs-content li.selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    -moz-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
}

.cd-tabs-content li p {
    font-size: 1.6rem;
    line-height: 1.2;
    color: #8493bf;
    margin-bottom: 2em;
}

@media only screen and (min-width: 0px) {
    .cd-tabs-content {
        min-height: 0;
    }

    .cd-tabs-content li {
        padding: 0;
    }

    .cd-tabs-content li p {
        font-size: 1.6rem;
    }
}

.main-nav, .drop-nav {
    background: #343843;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    z-index: 100002;
}

.main-nav {
    float: right;
    margin-top: 0px;
}

.main-nav > li:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}

.main-nav > li {
    float: left;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.2;
    background-color: transparent;
}

.main-nav li:first-child {
    border-left: none;
}

.main-nav:after {
    clear: right;
    display: block;
}

.main-nav a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #747b8b;
}

.dd {
    position: relative;
}

.dd a:hover {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
}

.dd:after {
    content: "";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.dd-active {
    /* Used by main.js to set color of parent element of hovered item */
    color: #f1f3f2;
}

.drop-nav {
    position: absolute;
    display: none;
    width: 150px;
    -webkit-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
    box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:800px) {
    .drop-nav {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    }
}

.drop-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.dd:hover > .drop-nav {
    display: block;
}

.drop-nav > li:hover, .drop-nav > li:hover a {
    color: #f1f3f2;
    background-color: rgba(233, 230, 202, 0.3);
    -webkit-box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 13px 5px rgba(0, 0, 0, 0.3);
}

body ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Settings*/

input[type='text'] {
    width: 300px;
    height: 25px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 5px 5px 10px;
    padding: 2px;
}

input[type='text'], select {
    color: #000;
}

select {
    margin-left: 10px;
}

input.ui-button {
    padding: .2em .5em;
}

input[type="text"][disabled] {
    color: #696969;
}

input[disabled]:hover {
    background-color: #8b0000;
    color: #fff;
}

input[type='button'] {
    font-size: 16px;
    color: #FFF;
    background: #8b0000;
}

input[type='button']:hover {
    background: #003147;
}

.checkbox, .radio {
    display: inline-block;
}

.btn-group {
    margin-bottom: 15px;
}

.modal {
    z-index: 1050;
    margin: 0;
    padding: 0;
}

.modal-dialog {
    width: 80%;
}

.modal-body {
    background: #343843;
}

.modal-header, .modal-footer {
    background: #41434f;
}

.upgradeBody {
    font-size: 1.6rem;
}

.upgradeDialog {
    width: 40%;
}

#instructionsContainer, #changelogContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-size: 1.6rem;
    display: none;
}

.applicationContainer {
    font-size: 16px;
    font-size: 1.6rem;
    border: 1px solid #FFF;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background: #f5f6f7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px 1px #000;
    box-shadow: 5px 5px 5px 1px #000;
    color: #000;
    text-align: center;
    cursor: move;
}

.applicationContainer div {
    cursor: default;
    display: inline;
    padding-left: 16px;
}
.applicationContainer span.bars {
    opacity: 0.2;
}

.applicationContainer:hover span.bars {
    opacity: 1;
}

.applicationContainer input[type='checkbox'],
.applicationContainer input[type='radio'] {
    margin-left: 10px;
}

#backupContents {
    font-size: 14px;
}
#backupiniContainer {
    display:none;
}

#addRemoveContainer {
    width: 175px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.saveApp {
    width: 190px;
}

.iconpicker {
    margin-left: 10px;
}

.removeButton {
    margin-left: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

#updateContainer {
    background-color: #343843;
    color: #f1f3f2;
    display: none;
    font-size: 14px;
    right: 20px;
    padding: 7px 10px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    min-height: 44px;
    width: 340px;
    z-index: 1049;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#updateContainer span {
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: #f1f3f2;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=50);
  opacity: .5;
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}

form input {
    background-color: #fff;
    color: #000;
}