/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 0px;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
}
@media only screen and (min-width: 0px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 160px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #747b8b;
  padding-top: 32px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #f1f3f2; /* Hover text colour */
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #41434f !important; /* Selected tab colour */
  color: #f1f3f2; /* Selected text colour */
}
@media only screen and (min-width: 0px) {
  .cd-tabs-navigation {
    /* tabbed on top of devices */
    width: 100%;
    background-color: #343843; /* Main nav colour */
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 40px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2em 0 2em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 5px 0 #31ac63; /* Selected tab marker colour */
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 0px;
  }
}

.cd-tabs-content {
  background: #36363b; /* Content background colour */
}
.cd-tabs-content li {
  display: none;
  padding: 0;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 0px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 0;
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

    body {
    margin: 0px;
    padding: 0px;
}

