html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
Primary style

-------------------------------- */

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::after, *::before {
	content: '';
}

body {
	font-size: 0px;
	font-family: "PT Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a {
	text-decoration: none;
}

input[type=checkbox], input[type=radio] {
    margin: auto;
}



a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

b {
	font-weight: 700;
}

p {
	margin: 0 0 10px;
}

.constrain {
	overflow: hidden;
}

.modal-title {
	font-size: 18px;
	text-align: center;
}

.drawerItem {
	max-height: 7px;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
	-webkit-transition-timing-function: ease-in-out;
	/* Safari and Chrome */
	transition-timing-function: ease-in-out;
}

.drawerItem.full {
	max-height: 200px;
}

.settingsBtnGrp {
	margin-right: 5%;
}

.cd-tabs nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
	z-index: 1000;
}

@media only screen and (max-width: 767px) {
	
	.form-control {
		text-align: center;
	}
	
	.caret, .sp-dd {
		display: none;
	}
	
	select {
		text-align: center;
		text-align-last: center;
	}
	
	.sp-preview {
		width: 99%!important;
	}
	
}

@media only screen and (min-width: 768px) {
	.sp-preview {
	border: 0px !important;
	width: 90%!important;
}
}


@media only screen and (min-width: 0px) {
	.cd-tabs nav {
		overflow: auto;
		overflow-y: hidden;
		margin: 0;
		position: relative;
		float: none;
		background: transparent;
		box-shadow: none;
	}
}

.feedWrapper {
		padding-top: 15px;
		margin: 0 auto;
	    width:100%;
		padding-left: 5px;
		padding-right: 5px;
		height: 75%;
		overflow: auto;
		border-radius: 10px;
    
}
@media only screen and (min-width: 2560px) {
	.hidden-xl-up {
		display:none;
	}
}
.entryTitle {
	border-radius: 5px;
	background-color: rgba(119, 119, 119, 0.18);
}

div.entryTitle a {
	color: #f3f3f3;
}

.feed {
	padding-top: 15px;
}

.cd-tabs-navigation {
	width: 360px;
}

.cd-tabs-navigation:after {
	content: "";
	display: table;
	clear: both;
}

.cd-tabs-navigation li {
	float: left;
}

.cd-tabs-navigation a, #settings {
	position: relative;
	display: block;
	height: 35px;
	width: 35px;
	padding-top: 10px;
	text-align: center;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
}

#reload, .cd-tabs-navigation li {
	cursor: pointer;
}

#downloadModal, #reloadModal {
	display: inline-block;
	cursor: pointer;
}

#settingsModal {
	padding-left: 0px !important;
}

@media only screen and (min-width: 0px) {
	.cd-tabs-navigation {
		/* tabbed on top of devices */
		width: 100%;
	}
	.cd-tabs-navigation a:not(#reload) {
		height: 40px;
		line-height: 40px;
		width: 100%;
		text-align: center;
		font-size: 1.6rem;
		padding: 0 2em 0 2em;
	}
	.cd-tabs-navigation a::before {
		top: 50%;
		margin-top: -10px;
		margin-left: 0;
		left: 0px;
	}
}

.cd-tabs-content {
	background: #36363b;
	/* Content background colour */
	z-index: 1;
}

.cd-tabs-content li {
	display: none;
	padding: 0;
}

.cd-tabs-content li.selected {
	display: block;
	-webkit-animation: cd-fade-in 0.5s;
	-moz-animation: cd-fade-in 0.5s;
	animation: cd-fade-in 0.5s;
}

.cd-tabs-content li p {
	font-size: 1.6rem;
	line-height: 1.2;
	margin-bottom: 2em;
}

@media only screen and (min-width: 0px) {
	.cd-tabs-content {
		min-height: 0;
	}
	.cd-tabs-content li {
		padding: 0;
	}
	.cd-tabs-content li p {
		font-size: 1.6rem;
	}
}

.main-nav, .drop-nav {
	z-index: 100002;
}

.main-nav {
	float: right;
	margin-top: 0px;
}

.main-nav>li {
	float: left;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	cursor: pointer;
	line-height: 1.2;
	background-color: transparent;
}

.main-nav li:first-child {
	border-left: none;
}

.main-nav:after {
	clear: right;
	display: block;
}

.main-nav a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
}

.dd {
	position: relative;
}

.dd:after {
	content: "";
	font-size: .5em;
	display: block;
	position: absolute;
	top: 38%;
	right: 12%;
}

.drop-nav {
	position: absolute;
	display: none;
	width: 150px;
}

@media screen and (max-width: 800px) {
	.drop-nav {
		max-height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}

.dd:hover>.drop-nav:not .hide-nav {
	display: block;
}

*/ .hide-nav {
	display: none;
}

.show-nav {
	display: block;
}

.control-label {
	padding-top: 5px;
	white-space: nowrap;
}

.right-label {
	text-align: right;
}

.left-label {
	text-align: left;
}

body ul {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0;
}

@-webkit-keyframes cd-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes cd-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes cd-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.rowDiv {
	padding-right: 0px;
}

.color-label {
	padding-left: 15px;
	padding-right: 15px;
}

.sp-replacer {
	display: block!important;
	padding-top: 6px!important;
	padding-left: 6px!important;
	font-size: 14px!important;
	line-height: 1.42857143!important;
	color: #555!important;
	background-color: #fff!important;
	background-image: none!important;
	border: 1px solid #ccc!important;
	border-radius: 4px!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
}

.sp-dd {
	font-size: 9px !important;
	float: right !important;
}




/*Settings*/

input[type='color'] {
	width: 20px;
	height: 30 px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	padding: 2px;
}

input.ui-button {
	padding: .2em .5em;
}

input[type='button'] {
	font-size: 16px;
}

.btn-group {
	margin-bottom: 15px;
}

.modal {
	z-index: 1050;
	margin: 0;
	padding: 0;
}

.modal-dialog {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
}

.upgradeBody {
	font-size: 1.6rem;
}

.upgradeDialog {
	width: 40%;
}

.btn-icon {
	width: 25%;
}

#instructionsContainer, #changelogContainer {
	width: 90%;
	margin: auto;
	text-align: left;
	font-size: 16px;
	font-size: 1.6rem;
	display: none;
}

.logBody {
	max-height: calc(100vh - 220px);
	overflow-y: auto;
}

#logContainer {
	width: 90%;
	margin: auto;
	height: 100%;
	padding: 10px 10px;
	text-align: left;
	font-size: 16px;
	font-size: 1.6rem;
	display: none;
}

.splashHeader {
	width: 250px;
	border-radius: 5px;
	position: relative;
}

#splashContainer {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 30px 10px 10px 10px;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	align-content: center;
	overflow-y: auto;
}

.splashBtnTitle {
	margin-top: 10px;
}

#splashNav {
	position: absolute;
	bottom: 35px;
	left: 0;
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#headerWrapper {
	position: fixed;
	top: 0;
	left 0;
}

.splashNavBtn {
	margin-right: 5px;
}

@media screen and (max-width: 800px) {
	.splashHeader {
		height: 100%;
		display: none;
	}
	#splashContainer {
		padding: 30px 10px 30px 10px;
	}
}

.splashDialog {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	margin: 0px;
	display: flex;
	z-index: 1050;
}

.btnWrap {
	max-width: 250px;
	min-width: 170px;
	width: 24%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.well {
	cursor: pointer;
	margin: 5px;
}

#splashBg {
	height: 200%;
	width: 200%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99;
	display: block;
}

.logLine {
	display: block;
	margin-bottom: 2px;
}

#changelog, #changelogContainer h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 80%;
}

#changelog ul {
	text-align: left;
}

.cd-tabs-bar {
	display: none;
}

.applicationContainer {
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	border: 1px solid #FFF;
	padding: 10px;
	width: 90%;
	margin-top: 15px;
	cursor: move;
	margin-left: auto;
	margin-right: auto;
}

.col-colorbox {
	margin-left: auto;
	margin-right: auto;
}

.generalContainer {
	padding: 15px;
}

.sp-preview {
	margin-right: 0px;
	float: left;
}

.applicationContainer span.bars {
	opacity: 0.2;
}

.applicationContainer:hover span.bars {
	opacity: 1;
}

.form-check-inline {
	margin-bottom: 5px;
	margin-top: 5px;
}

checkbox, radio {
	margin-bottom: 5px;
}

#backupContents {
	font-size: 14px;
}

#backupiniContainer {
	display: none;
}

#addRemoveContainer {
	width: 175px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.saveApp {
	width: 190px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.smallLogo {
	width: 210px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.smallLogo svg {
	width: 200px;
	height: auto;
}

#updateContainer {
	display: none;
	font-size: 14px;
	right: 20px;
	padding: 7px 10px;
	position: absolute;
	text-align: center;
	bottom: 10px;
	min-height: 44px;
	width: 340px;
	z-index: 1048;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#updateContainer span {
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close {
	float: right;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=50);
	opacity: .5;
}

.splashClose {
	float: left;
}

.close:hover, .close:focus {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=100);
	opacity: 1;
}

iframe {
	width: 100%;
	height: 926px;
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 0px;
	filter: none;
	-webkit-filter: blur(0px);
	-moz-filter': blur(0px);
 -ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='0');
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

#splashModal {
	height: 100%;
	width: 100%;
	padding-left: 0px !important;
	left: -100%;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

#splashModal.in {
	left: 0;
}

#splashModal:not(.in) {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}
